.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #f9f9f9;
  @media (max-width: 768px) {
    padding: 1rem;
  }
  @media (max-width: 480px) {
    padding: 0.5rem;
  }
}
.main {
  text-align: center;
  width: 100%;
  padding: 5rem;
  color: #272927;
  @media (max-width: 768px) {
    padding: 3.5rem;
  }
  @media (max-width: 480px) {
    padding: 2rem;
  }
  .noResults {
    text-align: center;
    font-size: 24px;
    margin-top: 2rem;
    @media (max-width: 768px) {
      font-size: 1rem;
      margin-top: 18rem;
    }
    @media (max-width: 480px) {
      margin-top: 0.5rem;
      font-size: 12px;
    }
  }
}
.titleSearch {
  color: #272927;
  font-size: 48px;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    font-size: 32px;
  }
  @media (max-width: 480px) {
    font-size: 24px;
  }
}
.filterModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .stars {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    .star {
      transition: color 0.3s ease;
      &:hover {
        color: gold;
      }
      &.selected {
        color: gold;
      }
    }
  }
  button {
    align-self: center;
    margin-top: 1rem;
  }
}
.totalReviews {
  font-weight: bold;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 10px;
  }
  @media (max-width: 480px) {
    gap: 5px;
  }
  .searchInput {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 50rem;
    height: 3rem;
    background-color: white;
    @media (max-width: 768px) {
      height: 2rem;
    }
    @media (max-width: 480px) {
      height: 1rem;
    }
    input {
      outline: none;
      border: none;
      width: 45rem;
      font-size: 16px;
      margin: 0;
      background-color: inherit;
      @media (max-width: 768px) {
        width: 70%;
        font-size: 14px;
      }
      @media (max-width: 480px) {
        width: 60%;
        font-size: 12px;
      }
    }
    .searchIcon {
      display: flex;
      align-items: center;
      margin-right: 8px;
      @media (max-width: 768px) {
        margin-right: 4px;
      }
      @media (max-width: 480px) {
        margin-right: 2px;
      }
      img {
        @media (max-width: 768px) {
          width: 18px;
          height: 18px;
        }
        @media (max-width: 480px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.subtitle {
  font-size: 32px;
  text-align: left;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #272927;
  @media (max-width: 768px) {
    margin-left: 2rem;
    font-size: 20px;
  }
  @media (max-width: 480px) {
    margin-left: 1rem;
    font-size: 16px;
  }
}
.destinationObjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
}
.destinationObject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1f0e8;
  width: 100%;
  max-width: 1200px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.imageDestination {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  margin-right: 20px;
  @media (max-width: 768px) {
    gap: 12px;
  }
  @media (max-width: 480px) {
    pointer-events: none;
    margin-top: 1rem;
    gap: 8px;
  }
  img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    pointer-events: auto;
    @media (max-width: 768px) {
      width: 70%;
      height: 70%;
    }
    @media (max-width: 480px) {
      width: 60%;
      height: 60%;
    }
  }
}
.objectDetails {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  width: 300px;
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
  h2 {
    font-size: 32px;
    color: #bc7c7c;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    color: gold;
    .ratingValue {
      font-size: 1rem;
      color: #272927;
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 480px) {
        font-size: 0.6rem;
      }
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 16px;
    color: #555;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}
