.login {
  &__button {
    width: 100%;
  }
  &__error {
    color: red;
  }
  &__form {
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}
