/* Articles.module.scss */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  .main {
    width: 100%;
    padding: 5rem;
    @media (max-width: 768px) {
      padding: 3.5rem;
    }
    @media (max-width: 480px) {
      padding: 2rem;
    }
  }
  .title {
    font-size: 2rem;
    margin-left: 8rem;
    margin-top: 5rem;
    margin-bottom: 20px;
    color: #272927;
    @media (max-width: 768px) {
      font-size: 1.5rem;
      margin-left: 0;
      text-align: center;
    }
    @media (max-width: 480px) {
      font-size: 20px;
    }
  }
  .articlesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .articleCard {
    display: flex;
    align-items: flex-start;
    background: #f1f0e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    max-width: 1100px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .imageWrapper {
      display: flex;
      img {
        width: 300px;
        height: 200px;
        border-radius: 8px;
        @media (max-width: 768px) {
          height: 70%;
        }
        @media (max-width: 480px) {
          height: 60%;
        }
      }
    }
    .articleDetails {
      flex: 1;
      padding: 0;
      margin-left: 20px;
      h2 {
        font-size: 1.8rem;
        margin: 0.5rem 0;
        color: #bc7c7c;
      }
      .date,
      .author {
        font-size: 1rem;
        color: #555;
      }
      .excerpt {
        margin-top: 0.5rem;
        color: #666;
        font-size: 0.9rem;
      }
      @media (max-width: 768px) {
        margin-left: 0;
        padding: 1rem;
        h2 {
          font-size: 1.5rem;
        }
        .date,
        .author {
          font-size: 0.9rem;
        }
        .excerpt {
          font-size: 0.8rem;
        }
        @media (max-width: 480px) {
          h2 {
            font-size: 16px;
          }
          .date,
          .author {
            font-size: 12px;
          }
          .excerpt {
            display: none;
          }
        }
      }
    }
  }
}
